In [ ]:

import pandas as pd

Autism identification

In [ ]:
df=pd.read_csv("autism.csv")
df

   eye contact  repeatition  emotion  autism 1/0
0            8            9  neutral           1
1           15           14    happy           0
2            2            6      sad           1
3           15           12    happy           0
4           10           12    happy           0
5            3            7      sad           1
6           10            9  neutral           0
7            3            6      sad           1
8           15           16    happy           0
9            9            9  neutral           0

In [ ]:
#eye contact-----seconds
#repeatition------number of times a phrase has been repeated
#emotion-----sad,happy or neutral behaviour

In [ ]:
inputs=df.drop('autism 1/0',axis='columns')

In [ ]:
target=df['autism 1/0']

In [ ]:
from sklearn.preprocessing import LabelEncoder
le_emotion=LabelEncoder()
le_eyecontact=LabelEncoder()
le_repeatition=LabelEncoder()

In [ ]:
inputs['emotion_n'] = le_emotion.fit_transform(inputs['emotion'])
inputs['eyecontact_n'] = le_eyecontact.fit_transform(inputs['eye contact'])
inputs['repeatition_n'] = le_emotion.fit_transform(inputs['repeatition'])

In [ ]:
inputs

   eye contact  repeatition  emotion  emotion_n  eyecontact_n  repeatition_n
0            8            9  neutral          1             2              2
1           15           14    happy          0             5              4
2            2            6      sad          2             0              0
3           15           12    happy          0             5              3
4           10           12    happy          0             4              3
5            3            7      sad          2             1              1
6           10            9  neutral          1             4              2
7            3            6      sad          2             1              0
8           15           16    happy          0             5              5
9            9            9  neutral          1             3              2

In [ ]:
inputs_n=inputs.drop(['eye contact','repeatition','emotion'],axis='columns')
inputs_n

   emotion_n  eyecontact_n  repeatition_n
0          1             2              2
1          0             5              4
2          2             0              0
3          0             5              3
4          0             4              3
5          2             1              1
6          1             4              2
7          2             1              0
8          0             5              5
9          1             3              2

In [ ]:
target

0    1
1    0
2    1
3    0
4    0
5    1
6    0
7    1
8    0
9    0
Name: autism 1/0, dtype: int64

In [ ]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [ ]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [ ]:
model.predict([[0,4,3]])

C:\Users\shubh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [ ]:
model.predict([[2,0,0]])

C:\Users\shubh\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [ ]:
#1= means autistic
#0 means  not autistic